[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "easyclimate"]
	path = easyclimate
	url = https://github.com/verughub/easyclimate
